@font-face {
    font-family: Montserrat;
    src: url("/main/resources/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/main/resources/fonts/Montserrat-Bold.ttf");
}

.text-super-high {
    -fx-font-family: Montserrat;
    -fx-font-size: 80;
}

.text-high {
    -fx-font-family: Montserrat;
    -fx-font-size: 18;
}

.text-medium {
    -fx-font-family: Montserrat;
    -fx-font-size: 14;
}

.text-small {
    -fx-font-family: Montserrat;
    -fx-font-size: 11;
}

.button-high {
    -fx-font-family: Montserrat;
    -fx-font-size: 20;
}

.button-medium {
    -fx-font-family: Montserrat;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button-small {
    -fx-font-family: Montserrat;
    -fx-font-size: 12;
}

.tooltip {
    -fx-font-family: Montserrat;
    -fx-font-size: 13;
}

.jfx-Spinner .arc {
	-fx-stroke: #1e3d7e;
	-fx-stroke-width: 3;
}

/* The main scrollbar **track** CSS class  */
.workspace-grid .scroll-bar:horizontal .track,
.workspace-grid .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.workspace-grid .scroll-bar:horizontal .increment-button ,
.workspace-grid .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.workspace-grid .scroll-bar:vertical .increment-button ,
.workspace-grid .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.workspace-grid .scroll-bar .increment-arrow,
.workspace-grid .scroll-bar .decrement-arrow
{
    -fx-shape: " "; 
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.workspace-grid .scroll-bar:horizontal .thumb,
.workspace-grid .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}
